.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    position: relative;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #b0d8a9;
    box-shadow: 0px 2px 2px 2px gray;;

    img {
        height: 150px;
        width: 200px;
    }

    #logo{
        height: 70px;
        width: 160px;
        margin-top: 16px;
    }

    span {
        position: absolute;
        top: 20px;
        left: 60px;
        font-size: 18px;
    }
}

.header-menu-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    i {
        font-size: 30px;
        padding: 0px 10px;
        color: slateGray;
    }

    img {
        background-color: inherit;
        z-index: 5;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}

.modal__hide {
    z-index: -5;
    display: none;
}

.modal__show {
    background-color: #fffdea;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: -7px;
}