$paragraph-font: 'Open Sans';
$mossy-green: rgb(159, 216, 176);
@mixin buttons() {
    padding: 7px 15px;
    border-radius: 20px;
    background-color: $mossy-green;
    color: black;
  }

#whole-page{
    // height: 100%;
    width: 100%;
    position: relative;
    padding: 20px;

    .dashboard-info-container {
        display: flex;
        flex-direction: column;

        .dashboard-info-all {
            display: flex;
            flex-direction: column;

            .dashboard-info {
                margin: 20px 20px;
                display: flex;
                flex-direction: column;
                
                div {
                    display: flex;
                    // margin: 20px 20px;

                    .dashboard-info-contact-sub {
                        display: flex;
                        flex-direction: column;
                        margin: 20px 20px;
                    }
                }
            }

            .contact {
                display: flex;
            }
        }
    }
}

.dashboard-info-title {
    font-weight: bold;
}

.basic {
    display: flex;
    flex-direction: row;

    img {
        width: 200px;
    }

    .info-container {
        display: flex;
        // flex-direction: column;

        div {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }
}

.client-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .provider-client {
        font-weight: bold;
        padding: 7px 14px;
        border: none;
        box-shadow: 2px 2px 2px 2px gray;
        margin: 20px;
        cursor: pointer;
        border-radius: 5px;
        background-color: $mossy-green;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    @include buttons;
}