$paragraph-font: 'Open Sans';
@mixin buttons() {
    padding: 7px 15px;
    border-radius: 20px;
    background-color: $mossy-green;
    color: black;
  }

#whole-page{
    // margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    // .search-button {
    //     position: absolute;
    //     top: 50px;
    //     left: 0px;
    // }

    .info-container {
        height: 100%;
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
    }
    // font-family: $paragraph-font;
}


#user-pic{
    height: 200px;
    width: 200px;
    display: flex;
}
