.event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event-title{
    font-weight: bold;
    border: 1px solid black;
}

.event{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#event-date{
    font-weight: bold;
}

#what-happened{
    font-weight: bold;
}